In [4]:
import pandas as pd

# Read the CSV file into a DataFrame
url =  "https://drive.google.com/file/d/1_RBqno4cu9kov98d2S13Ko9mPexp3gtM/view?usp=drive_link" # insert URL here
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]

df = pd.read_csv(url)

# Display the first 5 rows
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column names and their data types
print(df.info())

| Date      | Time   | Shift   | invoice number    | Table   | Waiter Number   | Waiter name   | Item Code   | Item Name          | Qty   | Price/Unit   | Total   |
|:----------|:-------|:--------|:------------------|:--------|:----------------|:--------------|:------------|:-------------------|:------|:-------------|:--------|
| 9/28/2023 | 00:05  | Night   | FcB 0003-00000408 | 1       | 302             | PABLO         | 501         | Pizza Mozzarella   | 1     | 2500         | 2500    |
| 9/28/2023 | 00:05  | Night   | FcB 0003-00000408 | 1       | 302             | PABLO         | 1002        | Pinta Artesanal HH | 4     | 800          | 3200    |
| 9/28/2023 | 00:17  | Night   | FcB 0003-00000411 | 1       | 302             | PABLO         | 501         | Pizza Mozzarella   | 1     | 2500         | 2500    |
| 9/28/2023 | 00:17  | Night   | FcB 0003-00000411 | 1       | 302             | PABLO         | 1002        | Pinta Artesanal HH | 2     | 800          | 1600    |
| 9/28/2023 | 00:17  | Night   | FcB 0003-00000411 | 1       | 302             | PABLO         | 102         | Papas Magia        | 1     | 2500         | 2500    |
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            195 non-null    object
 1   Time            195 non-null    object
 2   Shift           195 non-null    object
 3   invoice number  195 non-null    object
 4   Table           195 non-null    object
 5   Waiter Number   195 non-null    int64
 6   Waiter name     195 non-null    object
 7   Item Code       195 non-null    int64
 8   Item Name       195 non-null    object
 9   Qty             195 non-null    int64
 10  Price/Unit      195 non-null    float64
 11  Total           195 non-null    float64
dtypes: float64(2), int64(3), object(7)
memory usage: 18.4+ KB
None

## Tasks

turn: 2

User_query: What is their most expensive item?

Capability: Follow On

In [9]:
# What is their most expensive item?

df.groupby('Item Name')['Price/Unit'].max().sort_values(ascending = False).head(1)

# Combo Fernet is the most expensive item with 8500 price/unit.

Item Name
Combo Fernet    8500.0
Name: Price/Unit, dtype: float64