## Dataset Overview
The dataset contains information about various products, including their names, quantities, unit prices, manufacturers, expiration dates, categories, weights, colors, materials, and production dates.

### Task Instructions
```Load the Data```:
Load the provided CSV file into a Pandas DataFrame.

```Basic Data Exploration```:
Display the first few rows of the DataFrame.
Print the summary statistics of the numeric columns.

```Data Cleaning```:
There are multiple rows with missing values, handle them with various methods (don't repeat the same method used for column A in column B).

```Data Transformation```:
Create a new column total_value which is the product of quantity and unit_price.
Convert production_date and expiration_date to datetime format.
Extract the year from production_date and create a new column production_year.

```Data Analysis```:
Group the data by category and calculate the total quantity and total value for each category.
Find the top 5 most expensive products based on unit_price.
Calculate the average weight of products for each manufacturer.

```Save the Cleaned Data```:
Save the cleaned and transformed DataFrame to a new CSV file named cleaned_factory_data.csv.

In [2]:
import pandas as pd
from datetime import date

In [3]:
# Loading the dataset.
df = pd.read_csv('Factory Data.csv')
df['expiration_date'], df['production_date'] = pd.to_datetime(df['expiration_date']), pd.to_datetime(df['production_date'])
df

,product_name,quantity,unit_price,manufacturer,expiration_date,category,weight,color,material,production_date
0,Soup - Campbells - Chicken Noodle,265,6.20,Katz,NaT,electronics,NaN,Mauv,wood,2023-12-15
1,Wine - Sauvignon Blanc,429,22.53,Meembee,NaT,food,NaN,Red,plastic,2022-08-31
2,Pasta - Cheese / Spinach Bauletti,483,79.70,Skynoodle,NaT,food,0.5,Puce,metal,2023-10-27
3,Wine - Cave Springs Dry Riesling,884,20.51,Centidel,NaT,electronics,3.9,Green,plastic,2023-01-07
4,Table Cloth 62x120 Colour,476,62.39,Realcube,2022-12-26,electronics,2.6,Pink,metal,2022-03-20
...,...,...,...,...,...,...,...,...,...,...
995,"Wine - Red, Pinot Noir, Chateau",926,74.30,Lajo,NaT,clothing,0.3,Crimson,metal,2022-08-25
996,"Quail - Whole, Boneless",656,57.55,Oyondu,NaT,electronics,5.6,Turquoise,metal,2022-11-28
997,Wine - Barolo Fontanafredda,172,26.39,Tekfly,NaT,electronics,5.2,Green,plastic,2023-09-05
998,"Carrots - Mini, Stem On",854,66.21,Aimbo,2023-06-14,clothing,8.6,Goldenrod,plastic,2022-01-04
999,Tuna - Loin,580,6.87,Photospace,2023-04-04,electronics,2.0,Pink,metal,2023-11-01

### Data Exploration

In [4]:
# Basic Data Exploration
print('\t\t\tDisplay of first 6 rows\n\n', df.head(6), '\n\n\n',\
    'Summary Statistics of Numerical Columns\n\n', df.describe(include='all'))

			Display of first 6 rows

                         product_name  quantity  unit_price manufacturer  \
0  Soup - Campbells - Chicken Noodle       265        6.20         Katz
1             Wine - Sauvignon Blanc       429       22.53      Meembee
2  Pasta - Cheese / Spinach Bauletti       483       79.70    Skynoodle
3   Wine - Cave Springs Dry Riesling       884       20.51     Centidel
4          Table Cloth 62x120 Colour       476       62.39     Realcube
5                        Rolled Oats       852       86.68       Skibox

  expiration_date     category  weight  color material production_date
0             NaT  electronics     NaN   Mauv     wood      2023-12-15
1             NaT         food     NaN    Red  plastic      2022-08-31
2             NaT         food     0.5   Puce    metal      2023-10-27
3             NaT  electronics     3.9  Green  plastic      2023-01-07
4      2022-12-26  electronics     2.6   Pink    metal      2022-03-20
5      2023-04-30         food     NaN  Green    metal      2023-02-04


 Summary Statistics of Numerical Columns

                product_name     quantity   unit_price manufacturer  \
count                  1000  1000.000000  1000.000000         1000
unique                  820          NaN          NaN          352
top     Oil - Cooking Spray          NaN          NaN        Mynte
freq                      4          NaN          NaN            8
mean                    NaN   516.651000    50.182260          NaN
min                     NaN     2.000000     0.120000          NaN
25%                     NaN   272.000000    24.607500          NaN
50%                     NaN   521.500000    51.815000          NaN
75%                     NaN   769.000000    76.320000          NaN
max                     NaN   999.000000    99.910000          NaN
std                     NaN   292.392316    29.327183          NaN

                      expiration_date category      weight   color material  \
count                             203     1000  781.000000    1000     1000
unique                            NaN        3         NaN      19        3
top                               NaN     food         NaN  Purple    metal
freq                              NaN      349         NaN      66      355
mean    2022-12-31 17:22:45.517241344      NaN    5.020102     NaN      NaN
min               2022-01-03 00:00:00      NaN    0.100000     NaN      NaN
25%               2022-07-26 12:00:00      NaN    2.600000     NaN      NaN
50%               2022-12-08 00:00:00      NaN    5.000000     NaN      NaN
75%               2023-06-17 00:00:00      NaN    7.400000     NaN      NaN
max               2023-12-30 00:00:00      NaN   10.000000     NaN      NaN
std                               NaN      NaN    2.826848     NaN      NaN

                      production_date
count                            1000
unique                            NaN
top                               NaN
freq                              NaN
mean    2022-12-28 10:01:55.200000256
min               2022-01-01 00:00:00
25%               2022-07-01 18:00:00
50%               2022-12-25 12:00:00
75%               2023-06-23 00:00:00
max               2023-12-30 00:00:00
std                               NaN

### Data Cleaning

In [ ]:
# Data Cleaning 

#Identifying columns with missing values
print(df.isna().sum())

#Defining values to fill missing values in weight column with.
wgtmean = 5.02
wgtmedian = 5.0
wgtmode = 4.0

a = df['weight'].fillna(wgtmean)
b = df['weight'].fillna(wgtmedian)
c = df['weight'].fillna(wgtmode)

# Inspecting the variation in the different values compared to the original column with missing values.
print(f"\n\nDF Mean Weight Description \n{a.describe()}, \n\nDF Median Weight Description \n{b.describe()},\
     \n\nDF Mode Weight Description \n {c.describe()}, \n\nDF Weight with NAs Description \n{df['weight'].describe()}")

#Filling missing values in weight column with the median 
#  Mean was chosen because it's Mean are 50% are closest to one another
#  and it's STD is close to the original data set column
df['weight'] = df['weight'].fillna(wgtmean)


# Filling Missing date in Expiration_date column

#Determine Date Range

# least_date = df['expiration_date'].min()
# max_date = df['expiration_date'].max()
# print(f"Least Date : {least_date} \n\nMax Date : {max_date}\
#         \n\nDifference : {max_date - least_date}"
#     )

# print(df['expiration_date'].isna().sum())

# date_range = pd.date_range(start= "2022-01-03", end = "2023-12-30", freq="D")
# missing_dates = date_range[~date_range.isin(df['expiration_date'])]
# print(missing_dates)

df['expiration_date'] = df['expiration_date'].fillna(method='bfill')

df.info()

### Data Transformation

In [6]:
# Creating new column total_value
df['total_value'] = df['quantity'] * df['unit_price']

# Extract year from production year
df['production_year'] = df['production_date'].dt.strftime('%Y')

df.head(4)

,product_name,quantity,unit_price,manufacturer,expiration_date,category,weight,color,material,production_date,total_value,production_year
0,Soup - Campbells - Chicken Noodle,265,6.20,Katz,2022-12-26,electronics,5.02,Mauv,wood,2023-12-15,1643.00,2023
1,Wine - Sauvignon Blanc,429,22.53,Meembee,2022-12-26,food,5.02,Red,plastic,2022-08-31,9665.37,2022
2,Pasta - Cheese / Spinach Bauletti,483,79.70,Skynoodle,2022-12-26,food,0.50,Puce,metal,2023-10-27,38495.10,2023
3,Wine - Cave Springs Dry Riesling,884,20.51,Centidel,2022-12-26,electronics,3.90,Green,plastic,2023-01-07,18130.84,2023

In [7]:
df.columns

Index(['product_name', 'quantity', 'unit_price', 'manufacturer',
       'expiration_date', 'category', 'weight', 'color', 'material',
       'production_date', 'total_value', 'production_year'],
      dtype='object')

Group the data by category and calculate the total quantity and total value for each category.
Find the top 5 most expensive products based on unit_price.
Calculate the average weight of products for each manufacturer.

### Data Analysis

In [28]:
#Total Quantity per category

df.groupby('category')['quantity'].sum().sort_values(ascending=False)

#Food items has the highest quantity of 176572

category
food           176572
electronics    175384
clothing       164695
Name: quantity, dtype: int64

In [29]:
#Total Quantity per total value

df.groupby('category')['total_value'].sum().sort_values(ascending=False)

#Food items has the highest quantity of 9087471.54

category
electronics    9087471.54
food           8677674.10
clothing       8400008.08
Name: total_value, dtype: float64

In [38]:
#Top 5 most expensive products based on unit price

df.groupby('product_name')['unit_price'].max().sort_values(ascending=False).head(5)

product_name
Pineapple - Canned, Rings    99.91
Pork - Side Ribs             99.84
Bag - Regular Kraft 20 Lb    99.68
Cafe Royale                  99.64
Bread - Pain Au Liat X12     99.62
Name: unit_price, dtype: float64

In [36]:
#Average weight of product by manufacturer name.

df.groupby('manufacturer')['weight'].mean().sort_values(ascending=False)

manufacturer
Viva            10.000000
Fivebridge       9.800000
BlogXS           9.600000
Devify           9.500000
Bubblemix        9.266667
                  ...
Voonder          1.000000
Eimbee           0.800000
Kaymbo           0.700000
Chatterpoint     0.500000
Zoombox          0.500000
Name: weight, Length: 352, dtype: float64

### Saving The Cleaned Data

In [13]:
df.to_csv('Cleaned Factory Data.csv', index=False)