In [11]:
import pandas as pd

# Read the CSV file into a DataFrame
url =  "https://drive.google.com/file/d/1_RBqno4cu9kov98d2S13Ko9mPexp3gtM/view?usp=drive_link" # insert URL here
url2 = 'https://drive.google.com/uc?id=' + url.split('/')[-2]

print(url2)

df = pd.read_csv(url)

# Display the first 5 rows
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column names and their data types
print(df.info())

https://drive.google.com/uc?id=view?usp=drive_link

## Tasks

turn: 2

User_query: What is their most expensive item?

Capability: Follow On

In [5]:
# What is their most expensive item?

df.groupby('Item Name')['Price/Unit'].max().sort_values(ascending = False).head(10)

# Combo Fernet is the most expensive item with 8500 price/unit.

Item Name
Combo Fernet            8500.0
Sandwich Gringo         3500.0
Sandwichs HÃ©roes        3500.0
Sandwich Especial       3500.0
Pizza Serrana           3500.0
Pizza 4 Quesos          3325.0
Pizza Especial          3100.0
Pizza Napolitana        3000.0
Pizza Serrana Veggie    2800.0
Sandwich Bondiola       2600.0
Name: Price/Unit, dtype: float64

In [6]:
df.groupby('Shift').count()

,Date,Time,invoice number,Table,Waiter Number,Waiter name,Item Code,Item Name,Qty,Price/Unit,Total
Shift,,,,,,,,,,,
Night,195,195,195,195,195,195,195,195,195,195,195

turn 1
User_query: When is the busiest time of day for the restaurant?

FileMetadata:

file_name: "Waiters Cash_Sales -.csv"

file_path: "https://drive.google.com/file/d/1_RBqno4cu9kov98d2S13Ko9mPexp3gtM/view?usp=drive_link"

Capability: Simple dataset exploration